<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="BitFactory.Logging" type="BitFactory.Logging.Configuration.LoggingSection, BitFactory.Logging"/>
    <section name="decipha.net" type="Decipha.Net.Configuration.NetConfiguration,Decipha.Net"/>
  </configSections>

  <connectionStrings>
    <add name="EmailImport.Properties.Settings.EmailImportConnectionString" connectionString="Data Source=H07321\H07321;Initial Catalog=EmailImport;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <BitFactory.Logging name="global" xmlns="http://BitFactory.Logging">
    <rollingDateFileLoggers>
      <rollingDateFileLogger name="rollingDateLogger_Collect" formattedFileName="Logs\EmailImport_{timestamp:yyyyMMdd}_Collect.csv" maxLogFiles="60" severity="Info" includeCategories="ImapCollector" formatString="&quot;{application}&quot;,&quot;{severity}&quot;,&quot;{timestamp}&quot;,&quot;{category}&quot;,&quot;{message}&quot;"/>
      <rollingDateFileLogger name="rollingDateLogger_Process" formattedFileName="Logs\EmailImport_{timestamp:yyyyMMdd}_Process.csv" maxLogFiles="60" severity="Info" excludeCategories="ImapCollector" formatString="&quot;{application}&quot;,&quot;{severity}&quot;,&quot;{timestamp}&quot;,&quot;{category}&quot;,&quot;{message}&quot;"/>
    </rollingDateFileLoggers>
    <emailLoggers>
      <emailLogger name="emailLoggerWarning" smtpHost="10.255.2.42" to="" from="peter.nguyen@decipha.com.au" severity="Warning" formatString="[{application}] - [{severity}] - [{timestamp}] - [{category}] - {message}" subject="Email Import has reported an issue..." isEnabled="false"/>
      <emailLogger name="emailLoggerImapCollector" smtpHost="10.255.2.42" to="peter.nguyen@decipha.com.au" from="EmailImport.DEBUG@decipha.com.au" severity="Warning" includeCategories="ImapCollector" formatString="[{application}] - [{severity}] - [{timestamp}] - [{category}] - {message}" subject="Potential ImapCollector performance issue in NSW" isEnabled="false"/>
    </emailLoggers>
    <databaseLoggers>
      <databaseLogger name="databaseLogger" connectionString="Data Source=H07321\H07321;Initial Catalog=EmailImport;Integrated Security=True" isEnabled="true"/>
    </databaseLoggers>
  </BitFactory.Logging>

  <decipha.net>
    <mailSettings>
      <imap timeout="120000" fetchTimeout="60000" />
    </mailSettings>
  </decipha.net>

  <system.net>
    <mailSettings>
      <smtp from="Decipha Email Import &lt;noreply@decipha.com.au&gt;" deliveryMethod="Network">
        <network host="10.255.2.42" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
